.htr {
  --htr-core-utils-links-color1-h: 0;
  --htr-core-utils-links-color1-s: 0%;
  --htr-core-utils-links-color1-l: 0%;
  --htr-core-utils-links-color1-a: 60%;

  --htr-core-utils-links-color_hover-h: 0;
  --htr-core-utils-links-color_hover-s: 0%;
  --htr-core-utils-links-color_hover-l: 0%;
  --htr-core-utils-links-color_hover-a: 10%;
}

/**
 * ---
 * Rounded edges via rd
 * ---
 */
.htr [rd] {
  --lvl: 1;
  --base: 0.2em;
  border-radius: calc(var(--base) * var(--lvl));
}

.htr [rd*="p"] {
  --base: 1%;
}


.htr [rd$="1"] {
  --lvl: 1;
}

.htr [rd$="2"] {
  --lvl: 2;
}

.htr [rd$="4"] {
  --lvl: 4;
}

.htr [rd$="8"] {
  --lvl: 8;
}

.htr [rd$="16"] {
  --lvl: 16;
}

.htr [rd$="32"] {
  --lvl: 16;
}

.htr [rd$="64"] {
  --lvl: 16;
}

/**
 * Circle object
 */
.htr [rd="circle"] {
  --base: 100%;
}

/**
 * Styled links
 */
.htr a {
  --htr-core-utils-links-color1: hsla(var(--htr-core-utils-links-color1-h), var(--htr-core-utils-links-color1-s), var(--htr-core-utils-links-color1-l), var(--htr-core-utils-links-color1-a));
  --htr-core-utils-links-color_hover: hsla(var(--htr-core-utils-links-color_hover-h), var(--htr-core-utils-links-color_hover-s), var(--htr-core-utils-links-color_hover-l), var(--htr-core-utils-links-color_hover-a));

  text-decoration: none;
  color: var(--htr-core-utils-links-color1);
  transition: background-color 0.2s;
}

.htr a:hover {
  background-color: var(--htr-core-utils-links-color_hover);
}
