
.htr {
  --htr-forms-input-font: 1.2em;
  --htr-forms-input-padding: 0.75em;
  --htr-forms-input-margin: 0;

  --htr-forms-input-color1-h: 0;
  --htr-forms-input-color1-s: 0%;
  --htr-forms-input-color1-l: 0%;
  --htr-forms-input-color1-a: 10%;

  --htr-forms-input-color2-h: 0;
  --htr-forms-input-color2-s: 0%;
  --htr-forms-input-color2-l: 0%;
  --htr-forms-input-color2-a: 80%;

  --htr-forms-input-color3-h: 0;
  --htr-forms-input-color3-s: 0%;
  --htr-forms-input-color3-l: 0%;
  --htr-forms-input-color3-a: 80%;

  --htr-forms-input-color1_hover-h: 0;
  --htr-forms-input-color1_hover-s: 0%;
  --htr-forms-input-color1_hover-l: 100%;
  --htr-forms-input-color1_hover-a: 80%;

  --htr-forms-input-color2_hover-h: 0;
  --htr-forms-input-color2_hover-s: 0%;
  --htr-forms-input-color2_hover-l: 0%;
  --htr-forms-input-color2_hover-a: 80%;

  --htr-forms-input-color_error-h: 0;
  --htr-forms-input-color_error-s: 80%;
  --htr-forms-input-color_error-l: 46%;
  --htr-forms-input-color_error-a: 80%;
}

.htr input {
  --htr-forms-input-color1: hsla(var(--htr-forms-input-color1-h), var(--htr-forms-input-color1-s), var(--htr-forms-input-color1-l), var(--htr-forms-input-color1-a));
  --htr-forms-input-color2: hsla(var(--htr-forms-input-color2-h), var(--htr-forms-input-color2-s), var(--htr-forms-input-color2-l), var(--htr-forms-input-color2-a));
  --htr-forms-input-color3: hsla(var(--htr-forms-input-color3-h), var(--htr-forms-input-color3-s), var(--htr-forms-input-color3-l), var(--htr-forms-input-color3-a));
  --htr-forms-input-color_error: hsla(var(--htr-forms-input-color_error-h), var(--htr-forms-input-color_error-s), var(--htr-forms-input-color_error-l), var(--htr-forms-input-color_error-a));

  display: block;
  padding: var(--htr-forms-input-padding);
  margin-bottom: var(--htr-forms-input-margin);
  background-color: var(--htr-forms-input-color1);
  color: var(--htr-forms-input-color2);
  border: none;
  /*border: var(--htr-forms-input-border) solid var(--htr-forms-input-color3);*/
  font-size: var(--htr-forms-input-font);
  user-select: none;
}


.htr label {
  --htr-forms-input-color_error: hsla(var(--htr-forms-input-color_error-h), var(--htr-forms-input-color_error-s), var(--htr-forms-input-color_error-l), var(--htr-forms-input-color_error-a));

  display: block;
  margin-bottom: 2px;
  user-select: none;
}

/**
 * Input error label
 */
.htr label[error] {
  all: inherit;
  color: var(--htr-forms-input-color_error);
  margin: 5px 0 0;
  display: none;
}

.htr input[filled]:invalid + label[error] {
  display: inline-block;
}

.htr input[filled] {
  border: 0.3em solid;
  border-top: 0;
  border-right: 0;
  border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10'%3E%3Crect width='10' height='10' style='fill-opacity:30%; fill:green;' /%3E%3C/svg%3E%0A");
  border-image-slice: 0 0 100 1;
  border-image-width: 0 100% 0.2em 0;
  transition: 0.2s border-image-width linear;
}


.htr input[filled]:focus {
  border-image-slice: 0 0 100 1;
  border-image-width: 0 0% 0.2em 0;
}

.htr input[filled]:invalid {
  border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10'%3E%3Crect width='10' height='10' style='fill-opacity:30%; fill:red;' /%3E%3C/svg%3E%0A");
  border-image-slice: 0 0 100 1;
  border-image-width: 0 0% 0.2em 0;
}

.htr input:focus {
  outline: none;
}

.htr input::placeholder {
  margin: 0;
  transition: 0.3s position;
}

.htr input:focus::placeholder {
  opacity: 0.8;
  top: 0;
  padding-top: calc((var(--htr-forms-input-padding)) / 2.5);
  font-size: calc(var(--htr-forms-input-font) / 2);
  position: absolute;
}




/**
 * Specific file input types
 */
.htr input[type="file"]::-webkit-file-upload-button, .htr input[type="file"]::file-selector-button {
  display: none;
}

.htr input[type="file"] {
  width: 10em;
  display: inline-block;
}

.htr input[type="file"][btn] {
  display: none;
}

.htr input[type="file"] + label {
  --htr-forms-input-color1: hsla(var(--htr-forms-input-color1-h), var(--htr-forms-input-color1-s), var(--htr-forms-input-color1-l), var(--htr-forms-input-color1-a));
   --htr-forms-input-color2: hsla(var(--htr-forms-input-color2-h), var(--htr-forms-input-color2-s), var(--htr-forms-input-color2-l), var(--htr-forms-input-color2-a));
   --htr-forms-input-color3: hsla(var(--htr-forms-input-color3-h), var(--htr-forms-input-color3-s), var(--htr-forms-input-color3-l), var(--htr-forms-input-color3-a));

  margin: none;
  padding: var(--htr-forms-input-padding);
  margin-bottom: var(--htr-forms-input-margin);
  background-color: var(--htr-forms-input-color1);
  color: var(--htr-forms-input-color2);
  border: var(--htr-forms-input-border) solid var(--htr-forms-input-color3);
  font-size: var(--htr-forms-input-font);
  display: inline-block;
}

.htr input[type="file"] + label::after {
  content: none;
}

/**
 * Specific color Input
 */
.htr input[type="color"] {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  padding: 0;
}


/**
 * Checkbox input
 */
.htr input[type="checkbox"] {
  display: inline-block;
  cursor: pointer;
}
/**
 * Specific switch input
 */

.htr input[type="checkbox"][switch] {
  all: inherit;
  position: relative;
  display: block;
  cursor: pointer;
  height: 1.5em;
  width: 3em;
  border-radius: 1em;
  border: 0.3em solid var(--htr-forms-input-color1);
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='50' width='50'%3E%3Ccircle cx='25' cy='25' r='25' fill-opacity='30%' /%3E%3C/svg%3E%0A");
  transition: 0.1s background-position-x linear;
}

.htr input[type="checkbox"][switch]:checked {
  background-position-x: right;
  background-color: var(--htr-forms-input-color1);
}
