/**
 * Natural color theme (based on al natural colors in nature) / is there exists a middlevalue in nature for diffrent colors.
 */




/**
 * "All is good" - theme
 */
.htr [theme="green"] {
  --htr-theme-green-color1-h: 87;
  --htr-theme-green-color1-s: 100%;
  --htr-theme-green-color1-l: 40%;
  --htr-theme-green-color1-a: 0.9;

  --htr-theme-green-color2-h: 0;
  --htr-theme-green-color2-s: 0%;
  --htr-theme-green-color2-l: 100%;
  --htr-theme-green-color2-a: 0.9;

  --htr-forms-button-color1-h: 87;
  --htr-forms-button-color1-s: 100%;
  --htr-forms-button-color1-l: 40%;
  --htr-forms-button-color1-a: 0.9;
  --htr-forms-button-color2-a: 0.9;

  --htr-forms-button-color3-h: var(--htr-forms-button-color1-h);
  --htr-forms-button-color3-s: var(--htr-forms-button-color1-s);
  --htr-forms-button-color3-l: var(--htr-forms-button-color1-l);
  --htr-forms-button-color3-a: 0.9;

  --htr-forms-button-riffle-color-h: var(--htr-forms-button-color1-h);
  --htr-forms-button-riffle-color-s: var(--htr-forms-button-color1-s);
  --htr-forms-button-riffle-color-l: var(--htr-forms-button-color1-l);
  --htr-forms-button-riffle-color-a: 0.2;

  --htr-forms-button-color1_hover-h: var(--htr-forms-button-color1-h);
  --htr-forms-button-color1_hover-s: var(--htr-forms-button-color1-s);
  --htr-forms-button-color1_hover-l: var(--htr-forms-button-color1-l);
  --htr-forms-button-color1_hover-a: 0.75;

  --htr-forms-button-color2_hover-h: 0;
  --htr-forms-button-color2_hover-s: 0%;
  --htr-forms-button-color2_hover-l: 100%;
  --htr-forms-button-color2_hover-a: 0.9;
}

/**
 * Warning - theme
 */
.htr [theme="yellow"] {
  --htr-forms-button-color1-h: 54;
  --htr-forms-button-color1-s: 100%;
  --htr-forms-button-color1-l: 62%;
  --htr-forms-button-color1-a: 0.9;
  --htr-forms-button-color2-h: 0;
  --htr-forms-button-color2-s: 0%;
  --htr-forms-button-color2-l: 0%;
  --htr-forms-button-color2-a: 0.9;

  --htr-forms-button-color3-h: var(--htr-forms-button-color1-h);
  --htr-forms-button-color3-s: var(--htr-forms-button-color1-s);
  --htr-forms-button-color3-l: var(--htr-forms-button-color1-l);
  --htr-forms-button-color3-a: 0.9;

  --htr-forms-button-riffle-color-h: var(--htr-forms-button-color1-h);
  --htr-forms-button-riffle-color-s: var(--htr-forms-button-color1-s);
  --htr-forms-button-riffle-color-l: var(--htr-forms-button-color1-l);
  --htr-forms-button-riffle-color-a: 0.2;

  --htr-forms-button-color1_hover-h: var(--htr-forms-button-color1-h);
  --htr-forms-button-color1_hover-s: var(--htr-forms-button-color1-s);
  --htr-forms-button-color1_hover-l: var(--htr-forms-button-color1-l);
  --htr-forms-button-color1_hover-a: 0.75;

  --htr-forms-button-color2_hover-h: 0;
  --htr-forms-button-color2_hover-s: 0%;
  --htr-forms-button-color2_hover-l: 0%;
  --htr-forms-button-color2_hover-a: 0.9;
}

/**
 * Error - theme
 */
.htr [theme="red"] {
  --htr-forms-button-color1-h: 15;
  --htr-forms-button-color1-s: 100%;
  --htr-forms-button-color1-l: 50%;
  --htr-forms-button-color1-a: 0.9;
  --htr-forms-button-color2-h: 0;
  --htr-forms-button-color2-s: 0%;
  --htr-forms-button-color2-l: 100%;
  --htr-forms-button-color2-a: 0.9;

  --htr-forms-button-color3-h: var(--htr-forms-button-color1-h);
  --htr-forms-button-color3-s: var(--htr-forms-button-color1-s);
  --htr-forms-button-color3-l: var(--htr-forms-button-color1-l);
  --htr-forms-button-color3-a: 0.9;

  --htr-forms-button-riffle-color-h: var(--htr-forms-button-color1-h);
  --htr-forms-button-riffle-color-s: var(--htr-forms-button-color1-s);
  --htr-forms-button-riffle-color-l: var(--htr-forms-button-color1-l);
  --htr-forms-button-riffle-color-a: 0.2;

  --htr-forms-button-color1_hover-h: var(--htr-forms-button-color1-h);
  --htr-forms-button-color1_hover-s: var(--htr-forms-button-color1-s);
  --htr-forms-button-color1_hover-l: var(--htr-forms-button-color1-l);
  --htr-forms-button-color1_hover-a: 0.75;

  --htr-forms-button-color2_hover-h: 0;
  --htr-forms-button-color2_hover-s: 0%;
  --htr-forms-button-color2_hover-l: 100%;
  --htr-forms-button-color2_hover-a: 0.9;
}

/**
 * Info - theme
 */
.htr [theme="blue"] {
  --htr-forms-button-color1-h: 252;
  --htr-forms-button-color1-s: 100%;
  --htr-forms-button-color1-l: 50%;
  --htr-forms-button-color1-a: 0.9;
  --htr-forms-button-color2-h: 0;
  --htr-forms-button-color2-s: 0%;
  --htr-forms-button-color2-l: 100%;
  --htr-forms-button-color2-a: 0.9;

  --htr-forms-button-color3-h: var(--htr-forms-button-color1-h);
  --htr-forms-button-color3-s: var(--htr-forms-button-color1-s);
  --htr-forms-button-color3-l: var(--htr-forms-button-color1-l);
  --htr-forms-button-color3-a: 0.9;

  --htr-forms-button-riffle-color-h: var(--htr-forms-button-color1-h);
  --htr-forms-button-riffle-color-s: var(--htr-forms-button-color1-s);
  --htr-forms-button-riffle-color-l: var(--htr-forms-button-color1-l);
  --htr-forms-button-riffle-color-a: 0.2;

  --htr-forms-button-color1_hover-h: var(--htr-forms-button-color1-h);
  --htr-forms-button-color1_hover-s: var(--htr-forms-button-color1-s);
  --htr-forms-button-color1_hover-l: var(--htr-forms-button-color1-l);
  --htr-forms-button-color1_hover-a: 0.75;

  --htr-forms-button-color2_hover-h: 252deg;
  --htr-forms-button-color2_hover-s: 0%;
  --htr-forms-button-color2_hover-l: 100%;
  --htr-forms-button-color2_hover-a: 0.9;
}
