.htr *[val="0"] {
	 --htr-data-value: 0;
}
.htr *[val="1"] {
	 --htr-data-value: 1;
}
.htr *[val="2"] {
	 --htr-data-value: 2;
}
.htr *[val="3"] {
	 --htr-data-value: 3;
}
.htr *[val="4"] {
	 --htr-data-value: 4;
}
.htr *[val="5"] {
	 --htr-data-value: 5;
}
.htr *[val="6"] {
	 --htr-data-value: 6;
}
.htr *[val="7"] {
	 --htr-data-value: 7;
}
.htr *[val="8"] {
	 --htr-data-value: 8;
}
.htr *[val="9"] {
	 --htr-data-value: 9;
}
.htr *[val="10"] {
	 --htr-data-value: 10;
}
.htr *[val="11"] {
	 --htr-data-value: 11;
}
.htr *[val="12"] {
	 --htr-data-value: 12;
}
.htr *[val="13"] {
	 --htr-data-value: 13;
}
.htr *[val="14"] {
	 --htr-data-value: 14;
}
.htr *[val="15"] {
	 --htr-data-value: 15;
}
.htr *[val="16"] {
	 --htr-data-value: 16;
}
.htr *[val="17"] {
	 --htr-data-value: 17;
}
.htr *[val="18"] {
	 --htr-data-value: 18;
}
.htr *[val="19"] {
	 --htr-data-value: 19;
}
.htr *[val="20"] {
	 --htr-data-value: 20;
}
.htr *[val="21"] {
	 --htr-data-value: 21;
}
.htr *[val="22"] {
	 --htr-data-value: 22;
}
.htr *[val="23"] {
	 --htr-data-value: 23;
}
.htr *[val="24"] {
	 --htr-data-value: 24;
}
.htr *[val="25"] {
	 --htr-data-value: 25;
}
.htr *[val="26"] {
	 --htr-data-value: 26;
}
.htr *[val="27"] {
	 --htr-data-value: 27;
}
.htr *[val="28"] {
	 --htr-data-value: 28;
}
.htr *[val="29"] {
	 --htr-data-value: 29;
}
.htr *[val="30"] {
	 --htr-data-value: 30;
}
.htr *[val="31"] {
	 --htr-data-value: 31;
}
.htr *[val="32"] {
	 --htr-data-value: 32;
}
.htr *[val="33"] {
	 --htr-data-value: 33;
}
.htr *[val="34"] {
	 --htr-data-value: 34;
}
.htr *[val="35"] {
	 --htr-data-value: 35;
}
.htr *[val="36"] {
	 --htr-data-value: 36;
}
.htr *[val="37"] {
	 --htr-data-value: 37;
}
.htr *[val="38"] {
	 --htr-data-value: 38;
}
.htr *[val="39"] {
	 --htr-data-value: 39;
}
.htr *[val="40"] {
	 --htr-data-value: 40;
}
.htr *[val="41"] {
	 --htr-data-value: 41;
}
.htr *[val="42"] {
	 --htr-data-value: 42;
}
.htr *[val="43"] {
	 --htr-data-value: 43;
}
.htr *[val="44"] {
	 --htr-data-value: 44;
}
.htr *[val="45"] {
	 --htr-data-value: 45;
}
.htr *[val="46"] {
	 --htr-data-value: 46;
}
.htr *[val="47"] {
	 --htr-data-value: 47;
}
.htr *[val="48"] {
	 --htr-data-value: 48;
}
.htr *[val="49"] {
	 --htr-data-value: 49;
}
.htr *[val="50"] {
	 --htr-data-value: 50;
}
.htr *[val="51"] {
	 --htr-data-value: 51;
}
.htr *[val="52"] {
	 --htr-data-value: 52;
}
.htr *[val="53"] {
	 --htr-data-value: 53;
}
.htr *[val="54"] {
	 --htr-data-value: 54;
}
.htr *[val="55"] {
	 --htr-data-value: 55;
}
.htr *[val="56"] {
	 --htr-data-value: 56;
}
.htr *[val="57"] {
	 --htr-data-value: 57;
}
.htr *[val="58"] {
	 --htr-data-value: 58;
}
.htr *[val="59"] {
	 --htr-data-value: 59;
}
.htr *[val="60"] {
	 --htr-data-value: 60;
}
.htr *[val="61"] {
	 --htr-data-value: 61;
}
.htr *[val="62"] {
	 --htr-data-value: 62;
}
.htr *[val="63"] {
	 --htr-data-value: 63;
}
.htr *[val="64"] {
	 --htr-data-value: 64;
}
.htr *[val="65"] {
	 --htr-data-value: 65;
}
.htr *[val="66"] {
	 --htr-data-value: 66;
}
.htr *[val="67"] {
	 --htr-data-value: 67;
}
.htr *[val="68"] {
	 --htr-data-value: 68;
}
.htr *[val="69"] {
	 --htr-data-value: 69;
}
.htr *[val="70"] {
	 --htr-data-value: 70;
}
.htr *[val="71"] {
	 --htr-data-value: 71;
}
.htr *[val="72"] {
	 --htr-data-value: 72;
}
.htr *[val="73"] {
	 --htr-data-value: 73;
}
.htr *[val="74"] {
	 --htr-data-value: 74;
}
.htr *[val="75"] {
	 --htr-data-value: 75;
}
.htr *[val="76"] {
	 --htr-data-value: 76;
}
.htr *[val="77"] {
	 --htr-data-value: 77;
}
.htr *[val="78"] {
	 --htr-data-value: 78;
}
.htr *[val="79"] {
	 --htr-data-value: 79;
}
.htr *[val="80"] {
	 --htr-data-value: 80;
}
.htr *[val="81"] {
	 --htr-data-value: 81;
}
.htr *[val="82"] {
	 --htr-data-value: 82;
}
.htr *[val="83"] {
	 --htr-data-value: 83;
}
.htr *[val="84"] {
	 --htr-data-value: 84;
}
.htr *[val="85"] {
	 --htr-data-value: 85;
}
.htr *[val="86"] {
	 --htr-data-value: 86;
}
.htr *[val="87"] {
	 --htr-data-value: 87;
}
.htr *[val="88"] {
	 --htr-data-value: 88;
}
.htr *[val="89"] {
	 --htr-data-value: 89;
}
.htr *[val="90"] {
	 --htr-data-value: 90;
}
.htr *[val="91"] {
	 --htr-data-value: 91;
}
.htr *[val="92"] {
	 --htr-data-value: 92;
}
.htr *[val="93"] {
	 --htr-data-value: 93;
}
.htr *[val="94"] {
	 --htr-data-value: 94;
}
.htr *[val="95"] {
	 --htr-data-value: 95;
}
.htr *[val="96"] {
	 --htr-data-value: 96;
}
.htr *[val="97"] {
	 --htr-data-value: 97;
}
.htr *[val="98"] {
	 --htr-data-value: 98;
}
.htr *[val="99"] {
	 --htr-data-value: 99;
}
.htr *[val="100"] {
	 --htr-data-value: 100;
}
